 3.1. Create a list called years_list, starting with the year of your birth, and each year
 thereafter until the year of your fifth birthday. For example, if you were born in 1980.
 the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985]

In [51]:
years_list = [ 2002 , 2001, 2002 , 2003 , 2004 , 2005]

 3.2. In which year in years_list was your third birthday? Remember, you were 0 years
 of age for your first year

In [54]:
print("third_yr = " , years_list[3])

third_yr =  2003

 3.3. In which year in years_list were you the oldest?

In [57]:
print("oldest_yr = " , years_list[-1])

oldest_yr =  2005

 3.4. Make a list called things with these three strings as elements: "mozzarella", "cin
 derella", "salmonella"

In [59]:
things = [  "mozzarella", "cinderella", "salmonella"]
print(things)

['mozzarella', 'cinderella', 'salmonella']

 3.5. Capitalize the element in things that refers to a person and then print the list. Did
 it change the element in the list?

In [62]:
things[1] = things[1].capitalize()
print(things)

['mozzarella', 'Cinderella', 'salmonella']

 3.6. Make the cheesy element of things all uppercase and then print the list.
 
 3.7. Delete the disease element from things, collect your Nobel Prize, and print the list

In [65]:
things[0] = things[0].upper()
del things[-1]
print(things)

['MOZZARELLA', 'Cinderella']

 3.8. Create a list called surprise with the elements "Groucho", "Chico", and "Harpo".
 
 3.9. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [68]:
surprise = ["Groucho", "Chico",  "Harpo"]
print(surprise)
surprise[-1] = surprise[-1].lower()[::-1].capitalize()
print(surprise)

['Groucho', 'Chico', 'Harpo']
['Groucho', 'Chico', 'Oprah']

3.10. Make an English-to-French dictionary called e2f and print it. Here are your starter
 words: dog is chien, cat is chat, and walrus is morse

In [71]:
e2f = { 'dog' : 'chien', 'cat' : 'chat','walrus' : 'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

3.11. Using your three-word dictionary e2f, print the French word for walrus

In [74]:
print(e2f['walrus'])

morse

3.12. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [77]:
f2e = {value:key for key , value in e2f.items()}
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

 3.13. Using f2e, print the English equivalent of the French word chien.

print(f2e["chien"])

 3.14. Make and print a set of English words from the keys in e2f.

In [81]:
english_words = set(e2f.keys())
print(english_words)

{'walrus', 'dog', 'cat'}

 3.15. Make a multilevel dictionary called life. Use these strings for the topmost keys:
 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary
 with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings
 with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty
 dictionaries.

In [84]:
life = {
    "animals" :{
        "cats" : [ "1" , "2" , "3"],
        "dogs" : {"gavathi" : 2}, 
    },
    "plants" :{
        "rose" : 7 , 
        "lotus" : 10 , 
    }, 
    "others" : {}
}
print(life)

{'animals': {'cats': ['1', '2', '3'], 'dogs': {'gavathi': 2}}, 'plants': {'rose': 7, 'lotus': 10}, 'others': {}}

 3.16. Print the top-level keys of life.
 
 3.17. Print the keys for life['animals'].
 
 3.18. Print the values for life['animals']['cats'].

In [87]:
print(life.keys())
print(life['animals'].keys())
print(life['animals']['cats'])

dict_keys(['animals', 'plants', 'others'])
dict_keys(['cats', 'dogs'])
['1', '2', '3']